In [1]:
import data
import newmongodb
import newmariadb
import newarangodb
import mysql.connector as mariadb
import sys
import pyodbc

def sql_fn():
	try:
		conn = pyodbc.connect('Driver=ODBC Driver 17 for SQL Server;'
				#'Server=DESKTOP-SDDSOLT\SQLEXPRESS;'
				'Server=localhost;'
				'Database=hospital1;'
				'Trusted_Connection=yes;')

	except pyodbc.Error as e:
		print(f"Error connecting to MariaDB platform: {e}")
		sys.exit(1)

	cursor = conn.cursor()
	cursor.execute("DROP TABLE customers")
	cursor.execute("CREATE TABLE customers (name VARCHAR(100), value INTEGER)")
	sql = "INSERT INTO customers (name, value) VALUES (?, ?)"
	val = data.all_data("SQL")
	cursor.executemany(sql, val)
	conn.commit()
	cursor.execute('SELECT * FROM customers')
	lst_data = []
	for d in cursor:
		lst_data.append(d)

	newdata = input("Please enter the new database: ")
	if newdata == "MongoDB":
		newmongodb.process("SQL", lst_data)
	if newdata == "MariaDB":
		newmariadb.process("SQL", lst_data)
	if newdata == "ArangoDB":
		newarangodb.process("SQL", lst_data)

ModuleNotFoundError: No module named 'newmongodb'