In [1]:
!python install pip

python: can't open file 'install': [Errno 2] No such file or directory

In [2]:
!pip3 install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\hp\anaconda3\lib\site-packages (2.2.9)

In [3]:
#!pip install mysql-connector-python
!python -m pip install mysql-connector
#!brew install mysql-connector-c++

Requirement already satisfied: mysql-connector in c:\users\hp\anaconda3\lib\site-packages (2.2.9)

In [4]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [5]:
def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [6]:
connection = create_server_connection("localhost", "root",'')

Error: '2003: Can't connect to MySQL server on 'localhost:3306' (10061 No connection could be made because the target machine actively refused it)'

In [10]:
create_database_query="create database hospital1"
create_database(connection, create_database_query)

AttributeError: 'NoneType' object has no attribute 'cursor'

In [11]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [9]:
create_database_query="create database hospital2"
create_database(connection, create_database_query)

AttributeError: 'NoneType' object has no attribute 'cursor'

In [ ]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [ ]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
# hospital1 database
create_hospital10_table = """
CREATE TABLE hospital10 (
  smart_id INT PRIMARY KEY,
  first_name VARCHAR(40) NOT NULL,
  last_name VARCHAR(40) NOT NULL,
  phone_no VARCHAR(20)
  );
 """

connection = create_db_connection("localhost", "root", '', 'hospital1') # Connect to the Database
execute_query(connection, create_hospital10_table) # Execute our defined query

In [ ]:
# hospital2 database
create_hospital20_table = """
CREATE TABLE hospital20 (
  smart_id INT PRIMARY KEY,
  first_name VARCHAR(40) NOT NULL,
  last_name VARCHAR(40) NOT NULL,
  phone_no VARCHAR(20)
  );
 """

connection = create_db_connection("localhost", "root", '', 'hospital2') # Connect to the Database
execute_query(connection, create_hospital20_table) # Execute our defined query

In [ ]:
pop_hospital10 = """
INSERT INTO hospital10 VALUES
(1,  'James', 'Smulder', '+491123456789'),
(2, 'Stefanie','Martinez','+491234567890'), 
(3, 'Steve', 'jobs', '+44345678901'),
(4, 'Friederike','Ross','+49456789012'),
(5, 'Isobel', 'Raonic','+49567890123'),
(6, 'Niamh', 'Williams','+49678901234');
"""

connection = create_db_connection("localhost", "root", '', 'hospital1')
execute_query(connection, pop_hospital10)

In [ ]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

In [ ]:
query1 = """
SELECT count(smart_id)
FROM hospital10;
"""

connection = create_db_connection("localhost", "root", '', 'hospital1')
results_1 = read_query(connection, query1)

for result in results_1:
  print(results_1)

In [ ]:
query2 = """
SELECT *
FROM hospital10;
"""

connection = create_db_connection("localhost", "root", '', 'hospital1')
results_2 = read_query(connection, query2)

#for result in results_2:
print(results_2)

In [ ]:
# copy records fromone db to another
input_var = input("Enter smart_id of record to be copied: ")

query4 = """
insert into hospital2.hospital20 
select *
from hospital1.hospital10
where smart_id= %s;
""" % input_var

query5 = """
select *
from hospital2.hospital20;
"""

connection = create_db_connection("localhost", "root", '', 'hospital2')
mycursor = connection.cursor();

mycursor.execute(query4)
connection.commit()

results_5 = read_query(connection, query4)
#from_db = []

for result in results_5:
      print(results_5)

In [ ]:
#try 1

#input_var = input("Enter smart_id of record to be copied: ")

#query3 = """
#insert into hospital2.hospital20
#select *
#from hospital1.hospital10
#where smart_id= %s;
#""" % input_var

#connection = create_db_connection("localhost", "root", '', 'hospital1')
#results_3 = read_query(connection, query3)

#for result in results_3:
#  print(results_3)

In [ ]:
#input_var = input("Enter smart_id of record to be copied: ")

#select_sql = """
#SELECT * FROM hospital10
#where smart_id= %s
#""" % input_var

#select_sql = """
#INSERT INTO hospital20 
#""" 

#src_connection = create_db_connection("localhost", "root",'','hospital1')
#dest_connection = create_db_connection("localhost", "root", '','hospital2')
#results_3 = execute_query(src_connection , dest_connection, select_sql,select_sql)

#for result in results_3:
#  print(results_3)

In [ ]:
# sql where query
#query4 = """
#SELECT *
#FROM hospital10 where smart_id=1;
#"""

#connection = create_db_connection("localhost", "root", '', 'hospital1')
#results_4 = read_query(connection, query4)

#for result in results_4:
#  print(results_4)

In [ ]:
# checking if the record was successfully copied into the second database
query5 = """
SELECT count(smart_id)
FROM hospital20;
"""

connection = create_db_connection("localhost", "root", '', 'hospital2')
results_5 = read_query(connection, query5)

for result in results_5:
  print(results_5)